dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
.history
.cache
.lib/
.DS_Store
.idea
.bsp
.scannerwork
.metals/
.bloop/
.vscode/
metals.sbt
*.ipr
*.iws
.shelf/
ci/scala-amm/node_modules/
.bsp/